AddDefaultCharset UTF-8

RewriteEngine on
Options +FollowSymLinks
RewriteBase /

#RewriteRule ^([a-z_0-9-]+).html$ index.php?url=$1&%{QUERY_STRING}
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !\.(js|gif|jpg|png|css)$ index.php [QSA,L]
