html{
    margin:0;
}
body{
    background-color: transparent !important;

}

/*
    Окно
*/
#MCMSwindow
{
    background: #E5E5E5;
    border: 1px solid #fff;
    border-radius: 5px 5px 5px 5px;

    display:none;
    position: absolute;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    width: 450px;
    height: 450px;
    z-index: 900000000000;
    font-size:20px;
    color:#000;
    padding:15px;
    font-weight:bold !important;


}
#MCMSwindow iframe
{
    position: relative;
    top: -30px;
}
#MCMSwindow .close
{
    opacity: 1;

    background: url(close.png) no-repeat center;

    display:block;
    float:right;

    border: 1px solid #fff;
    background-color: #E5E5E5 ;
    padding:3px;
    position:relative;
    top: -42px;
    right:-1px;
    border-bottom:none;
    border-radius: 5px 5px 0px 0px;
    cursor:pointer;
    width: 30px;
    height: 20px;
}

#MCMSwindowMask
{
    position:absolute;
    z-index:90000;
    background-color:#666;
    display:none;
}
/*
    Меню администратора
*/

#admin-panel
{
    height:40px;
}
#admin-panel .fixed
{
    position: fixed;

    z-index:500;
    height:40px;
    width:100%;
    line-height: 40px;
    background: #E5E5E5;

    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
}




#admin-panel a.but
{



    height:40px;


    position: relative;

    color: #656268;

    text-decoration: none;

    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    padding: 0 15px;

    display: inline-block;


    font: bold 14px/40px "Helvetica Neue",Helvetica,Arial,sans-serif;



}
#admin-panel a.but:hover
{
    color: #4695c4;
}
#admin-panel a.but.right
{
    float:right;
}

/*
    Виджеты
*/
#medit-widget-window
{
    background: #E5E5E5;
    border-radius: 5px 0px 5px 5px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    display:none;
    position: absolute;

    z-index: 900000000000;
    font-size:12px;
    color:#000;
}
#medit-widget-window *
{
    box-sizing:content-box;
}
#medit-widget-window .close
{
    opacity: 1;

    background: url(close.png) no-repeat center;

    display:block;
    float:right;

    border:1px solid #8b8b8b;
    background-color: #E5E5E5  !important;
    padding:3px;
    position:relative;
    top: -42px;
    right:-1px;
    border-bottom:none;
    border-radius: 5px 5px 0px 0px;
    cursor:pointer;
    width: 30px;
    height: 20px;



}





#medit-widget-window  .button_bar .ok
{
    width:70px;
}
#medit-widget-window .button_bar
{
    height:80px;
    text-align:center;
    padding:10px;
    border-top:1px solid #D3D3D3;
}
#widget_form
{
    margin: 10px;
    margin-top:-20px;

}
#widget_form input[type='text'], #widget_form input[type='password'], #widget_form textarea, #widget_form select
{
    background: rgb(247, 247, 247);
    border: 1px solid rgb(178, 178, 178);
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.3) inset;
    box-sizing : content-box;
    border-radius: 3px;
    font: 15px Arial !important;

    width:90% ;
    padding:5px !important;
}
.cartform :disabled,  .disabled
{
    opacity:0.7;
}
.cartform .but
{
    font-size:16px !important;;
}

.lable
{
    text-align:right;
    padding-right:20px;
    font: 16px Arial !important;
}


iframe.sendform
{
    width:0; height:0; border:0
}

.mcms-widget
{
    position:relative;
    border:1px dotted transparent;

}
.mcms-widget.edit:hover
{
    border:1px dotted #0089ec;

}
.mcms-widget.edit:hover .mcms-widget-tools{
    display:block;
}

.mcms-widget-tools
{
    position:absolute;
    top:-30px;
    right:0;
    z-index:20;
    background: #E5E5E5;
    border-radius: 5px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    display:none;

}

.mcms-widget-tools a{

    padding:7px;
    text-decoration: none;
    font-size: 23px;
    color:#000;
}
.mcms-widget-tools a:hover {
    text-decoration: none;
    color: #42aefa;
}



.mcms-widget-tools a.fa-times
{
    color: #cc2934;
}

.mcms-widget-tools a.fa-times:hover
{
    color: #fc2b41;
}

.tools-bar
{
    position: fixed;

    width:32px;
    text-align:center;

    background: #E5E5E5;
    border-radius: 5px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 80000;

}
.tools-bar a {
    width:100%;
    text-decoration: none;
    line-height: 30px;
    color: #656268;

}
.tools-bar.left{
    left:20px;
}

.tools-bar.right{
    right:20px;
}

.tools-bar.top{
    top:100px;
}

.tools-bar.bottom{
    bottom:100px;
}


.tools-bar img,
{
    cursor: pointer;
}

.tools-bar img:hover, .tools-bar a:hover
{
    background: #42aefa;
}
.tools-bar a.fa-times{
    color: red;
}
#medit_frame
{
    display:none;
}