
body{
    background-color: transparent !important;

}



.form2 div.error
{

    background:transparent;

}

.form2 div.error span
{
    color:red	;

    padding-left:25px;

    background: transparent url(../images/dialog-error.png) no-repeat left;
    font: 16px  calibrieot, Calibri, Arial;
    height:15px;




}
.form2 p.error input, form p.error textarea
{
    border-color:#CD286A;
}



.form2 input[type='text'], .form2 input[type='password'],  form textarea, .form2 input[type='date']
{
    border:1px solid #b1bcc5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    vertical-align: middle;

    font: 16px  calibrieot, Calibri;

    color:black;

    width:100%;

}
.form2 label
{
    width:100%;
    margin-top:10px;
}

.form2 input[type="checkbox"]
{
    width:20px !important;
}
.form2 div input
{
    /*height:25px;*/
}

.form2 div textarea
{
    height:100px;
}

.form2 input[type='text'], .form2 input[type='password'], .form2 option, .form2 select, .form2 input[type='date']
{
    font: 16px calibrieot,Calibri;
    width:500px;
    padding:5px;
}
.form2 div input.button
{
    display:block;
    text-align:center;
    width:150px;
    border:1px solid #7f9193;
    font: bold 14px Candara,Calibri, Arila;
    background-color:#e6fcd3;
    margin:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration:none;
    color:#323232;
    margin-left:auto;
    margin-right:auto;

}

.form2 > div
{
    text-align: left;
    margin-top:10px;
}

.form2 div.submit
{


    padding:5px;
    padding-top:10px;
    margin-top:5px;

    border-top: none;
    text-align: center;
}
.form2 div.submit input
{
    padding:0px !important;

    margin-bottom:5px;

    width:150px;
    margin-left:auto;
    margin-right:auto;
}

.picker__footer, .picker__header, .picker__table
{
    text-align: center;
}

.form2 .markItUp
{
    /*height:570px;*/
}
.form2 .help
{
    display: block;
    font-size:12px;
    color: #777777;
}
.mform-filelist
{
    height:300px;
    margin: 10px 0px;
    height: 300px;
    overflow: auto;

    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
/*�������*/


.form2 .nav
{
    margin-left:1px;

    padding:0;
}
.form2 .tabPage
{
    /*
    display:none;
    clear: both;
    border:1px solid rgba(0,0,0,0.3);
    background-color: #EAEAEA;
    margin:0;
    padding:10px;
    box-shadow: inset 0 1px 0 #fff;
    */

    min-height: 34px;
    margin-bottom: 0 !important;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #d1ced3;
    padding:10px;
    border-top-color: rgb(209, 206, 211);

    box-shadow: inset 0 1px 0 #fff, 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.form2 .nav li.current
{

    min-height: 36px;
    margin-bottom: 0 !important;
    background: #f7f7f7;


    border: 1px solid #d1ced3;

    border-top-color: rgb(209, 206, 211);


    position: relative;
    top:2px;
    border-bottom: 4px solid #f7f7f7;
    left: 0;
    z-index: 10;

   /*
    height: 34px;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f2f0f2), to(#edeaf0));
    background: -webkit-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -moz-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -o-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -ms-linear-gradient(top, #f2f0f2, #edeaf0);
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #d4d1d7;
    box-shadow: inset 0 1px 0 #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 14px;
    float: left;
    font-size: 14px;
    color: #656268 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    position: relative;
    cursor: pointer;
    */
}

.form2 .nav li
{

    top:2px;
    height: 34px;
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    line-height: 14px;
    font-size: 14px;
    color: #656268;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    float: left;
    border:1px solid #ddd;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 5px;
    /*
    display:block;
    padding: 5px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.3);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-decoration: none;

    float: left;
    margin: 0;
    margin-right: 3px;
    margin-bottom:-1px;
    cursor:pointer;
    font-size:14px;
    border-bottom:none;
*/

}

.form2 .nav li:hover
{
    color:#4695c4;

}

/* ����� ������ */



.authorization div, .authorization p
{
    float:left;
    margin-left:10px;
    margin-top:5px;
}
.authorization input[type=text], .authorization input[type=password]
{
    width:200px !important;
    border: 1px solid #b1bcc5;
    border-radius: 0 !important;
    padding:2px !important;
}
.authorization .help
{
    display: none !important;

}

.error_user_singup
{
    display:inline-block;
    padding:7px;
}

.edit_art_button
{
    display: inline-block;

    float:right;






}

.edit_art_button a
{
    text-decoration: none;
padding:4px;
}
a.fa-times
{
    color:red;
}

.edit_art_button a:hover
{
    text-decoration: none;
    background: #0E3460;
    color:#fff;

}

.edit_art_button.fixed
{
    position: fixed;
    left:20px;
    top:500px;
    width:32px;
    text-align:center;

    background: #E5E5E5;
    border-radius: 5px;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 80000;
}

.checklist
{
    margin:10px 0 10px 0;
    height:300px;
    overflow: auto;
    width:500px;
    border:1px solid #1377AE;
    padding:3px;
}





.btn-group
{
    /*
        border-top: 1px solid #d4d1d7 !important;
        border-bottom: 1px solid #bebcc1 !important;
        border-right: 1px solid #cac7cd !important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    */
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 5px;

}

.btn-default {
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#efeeef), to(#e0dde0));
    background: -webkit-linear-gradient(top, #efeeef, #e0dde0);
    background: -moz-linear-gradient(top, #efeeef, #e0dde0);
    background: -o-linear-gradient(top, #efeeef, #e0dde0);
    background: -ms-linear-gradient(top, #efeeef, #e0dde0);
    background: linear-gradient(to bottom, #efeeef, #e0dde0);

    border-left: 1px solid #d1d1d1;

    position: relative;

    font-size: 14px;
    color: #656268;
    font-weight: bold;
    text-decoration: none;
    box-shadow: inset 0 1px 0 #fff, inset -1px 0px 0px 0px rgba(255, 255, 255, 0.4);
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    padding: 0 15px;
    line-height: 40px;
}
.btn-default:hover {

    background: -webkit-gradient(linear, 0 50%, 0 100%, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0.25)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25));
    color: #4695c4;
    border-left: 1px solid #d1d1d1;
    border-color: #ccc;


}


/* панель (Виджет) */

.panel-group {

    margin-bottom: 0;

    clear:both;

}

.panel
{
    box-shadow: none !important;

    min-height: 34px;

    margin-bottom: 0!important;

    background: #f7f7f7;

    border-radius: 5px;
    border: 1px solid #d1ced3;
    margin-top:10px;
    margin-bottom: 0;
    box-shadow: inset 0 1px 0 #fff, 0 1px 3px rgba(0, 0, 0, 0.1) !important;


}



.panel-heading {
    width: 100%;


    height: 34px;

    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f2f0f2), to(#edeaf0));
    background: -webkit-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -moz-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -o-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -ms-linear-gradient(top, #f2f0f2, #edeaf0);
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    border-bottom: 1px solid #d4d1d7;
    box-shadow: inset 0 1px 0 #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    line-height: 14px;

    /*float: left;*/
    font-size: 14px;

    color: #656268 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);

    position: relative;

    cursor:pointer;
}

.panel
{
    position: relative;
}
.panel .save, .panel .load{
    color: #009133;
    display:none;
}

.panel-config {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-left: 1px solid #d4d1d7;
    box-shadow: -1px 0 0 rgba(255,255,255,0.4);
    position: absolute;
    right:0px;
    top:0px;
}
.panel-config a
{
    color: #656268;

}
.panel-config a:hover
{
    color: #4695CC;
}
.panel-primary > .panel-heading
{
    border-bottom: 1px solid #d4d1d7;
}

.panel-body {

    padding:20px;
    min-height: 300px;

}

.panel-group .panel
{

    margin-top: 0 !important;
    border-radius: 0;
    border-top:none;




}
.panel-group .panel .panel-heading
{
    border-radius: 0;
}

.panel-group .panel:first-child
{
    border-top: 1px solid #d1ced3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-group .panel:last-child
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.panel-group .panel:first-child .panel-heading
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-group .panel:last-child .panel-heading
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.panel-group .panel-heading
{
    border-bottom: none;
}




/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/
/*
.ztree * {padding:0; margin:0; font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztree {margin:0; padding:5px; color:#333}
.ztree li{padding:0; margin:0; list-style:none; line-height:14px; text-align:left; white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 18px}
.ztree li ul.line{ background:url(../images/line_conn.gif) 0 0 repeat-y;}

.ztree li a {padding:1px 3px 0 0; margin:0; cursor:pointer; height:17px; color:#333; background-color: transparent;
    text-decoration:none; vertical-align:top; display: inline-block}
.ztree li a:hover {text-decoration:underline}
.ztree li a.curSelectedNode {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a.tmpTargetNode_inner {padding-top:0px; background-color:#316AC5; color:white; height:16px; border:1px #316AC5 solid;
    opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.tmpTargetNode_prev {}
.ztree li a.tmpTargetNode_next {}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
    font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li span {line-height:16px; margin-right:2px}
.ztree li span.button {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
    border:0 none; cursor: pointer;outline:none;
    background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
    background-image:url("../images/zTreeStandard.png");}

.ztree li span.button.chk {width:13px; height:13px; margin:0 3px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background-position:0 0}
.ztree li span.button.chk.checkbox_false_full_focus {background-position:0 -14px}
.ztree li span.button.chk.checkbox_false_part {background-position:0 -28px}
.ztree li span.button.chk.checkbox_false_part_focus {background-position:0 -42px}
.ztree li span.button.chk.checkbox_false_disable {background-position:0 -56px}
.ztree li span.button.chk.checkbox_true_full {background-position:-14px 0}
.ztree li span.button.chk.checkbox_true_full_focus {background-position:-14px -14px}
.ztree li span.button.chk.checkbox_true_part {background-position:-14px -28px}
.ztree li span.button.chk.checkbox_true_part_focus {background-position:-14px -42px}
.ztree li span.button.chk.checkbox_true_disable {background-position:-14px -56px}
.ztree li span.button.chk.radio_false_full {background-position:-28px 0}
.ztree li span.button.chk.radio_false_full_focus {background-position:-28px -14px}
.ztree li span.button.chk.radio_false_part {background-position:-28px -28px}
.ztree li span.button.chk.radio_false_part_focus {background-position:-28px -42px}
.ztree li span.button.chk.radio_false_disable {background-position:-28px -56px}
.ztree li span.button.chk.radio_true_full {background-position:-42px 0}
.ztree li span.button.chk.radio_true_full_focus {background-position:-42px -14px}
.ztree li span.button.chk.radio_true_part {background-position:-42px -28px}
.ztree li span.button.chk.radio_true_part_focus {background-position:-42px -42px}
.ztree li span.button.chk.radio_true_disable {background-position:-42px -56px}

.ztree li span.button.switch {width:18px; height:18px}
.ztree li span.button.root_open{background-position:-92px -54px}
.ztree li span.button.root_close{background-position:-74px -54px}
.ztree li span.button.roots_open{background-position:-92px 0}
.ztree li span.button.roots_close{background-position:-74px 0}
.ztree li span.button.center_open{background-position:-92px -18px}
.ztree li span.button.center_close{background-position:-74px -18px}
.ztree li span.button.bottom_open{background-position:-92px -36px}
.ztree li span.button.bottom_close{background-position:-74px -36px}
.ztree li span.button.noline_open{background-position:-92px -72px}
.ztree li span.button.noline_close{background-position:-74px -72px}
.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position:-56px 0}
.ztree li span.button.center_docu{background-position:-56px -18px}
.ztree li span.button.bottom_docu{background-position:-56px -36px}
.ztree li span.button.noline_docu{ background:none;}

.ztree li span.button.ico_open{margin-right:2px; background-position:-110px -16px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_close{margin-right:2px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_docu{margin-right:2px; background-position:-110px -32px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.edit {margin-right:2px; background-position:-110px -48px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.remove {margin-right:2px; background-position:-110px -64px; vertical-align:top; *vertical-align:middle}

.ztree li span.button.ico_loading{margin-right:2px; background:url(../images/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {
    width:16px;
    height:16px;
    display: inline-block;
    padding:0;
    margin:2px 0 0 1px;
    border:0 none;
    position:absolute;
    background-color:transparent;
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-position:-110px -80px;
    background-image:url("../images/zTreeStandard.png");

}

ul.ztree.zTreeDragUL
{
    margin:0;
    padding:0;
    position:absolute;
    width:auto;
    height:auto;
    overflow:hidden;
    background-color:#cfcfcf;
    border:1px #00B83F dotted;
    opacity:0.8;
    filter:alpha(opacity=80)
}

.zTreeMask
{
    z-index:10000;
    background-color:#cfcfcf;
    opacity:0.0;
    filter:alpha(opacity=0);
    position:absolute;
}
*/


/* дерево страниц */
/*
.mcms-list-page *
{
    font-size: 14px;
}
.mcms-list-page li
{
    line-height: 16px;

}
.mcms-list-page .dropdown > a
{
    color: #428bca;
}
.mcms-list-page li span.button.ico_open,
.ztree li span.button.ico_close,
.mcms-list-page li span.button.ico_docu
{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background:none;
}



.mcms-list-page .fa
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-right:5px;
}
.dropdown-menu {
    list-style: none;
    font-size: 14px;
    text-align: left;

    padding: 5px 0 !important;
    margin: 2px 0 0 !important;

}
.dropdown-menu > li > a
{
    display: block !important;
    padding: 3px 20px !important;
    color: #333;
    height: auto;
}
.dropdown-menu  li  a:hover
{
    text-decoration: none;
}
.dropdown-menu  li
{


}
*/
/*Заголовок*/
h1
{
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    margin-bottom:20px;
    margin-top:10px;

}



/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

.ztree * {padding:0; margin:0; font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztree {margin:0; padding:5px; color:#333}
.ztree li{padding:0; margin:0; list-style:none; line-height:14px; text-align:left; white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 18px}
.ztree li ul.line{ background:url(../images/line_conn.gif) 0 0 repeat-y;}

.ztree li a {padding:1px 3px 0 0; margin:0; cursor:pointer; height:17px; color:#333; background-color: transparent;
    text-decoration:none; vertical-align:top; display: inline-block}
.ztree li a:hover {text-decoration:underline}
.ztree li a.curSelectedNode
{
  font-weight: bold;
}
.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}
.ztree li a.tmpTargetNode_inner {padding-top:0px; background-color:#316AC5; color:white; height:16px; border:1px #316AC5 solid;
    opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.tmpTargetNode_prev {}
.ztree li a.tmpTargetNode_next {}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
    font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li span {line-height:16px; margin-right:2px}
.ztree li span.button {line-height:0; margin:0; width:16px; height:16px; display: inline-block; vertical-align:middle;
    border:0 none; cursor: pointer;outline:none;
    background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
    background-image:url("../images/zTreeStandard.png");}

.ztree li span.button.chk {width:13px; height:13px; margin:0 3px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background-position:0 0}
.ztree li span.button.chk.checkbox_false_full_focus {background-position:0 -14px}
.ztree li span.button.chk.checkbox_false_part {background-position:0 -28px}
.ztree li span.button.chk.checkbox_false_part_focus {background-position:0 -42px}
.ztree li span.button.chk.checkbox_false_disable {background-position:0 -56px}
.ztree li span.button.chk.checkbox_true_full {background-position:-14px 0}
.ztree li span.button.chk.checkbox_true_full_focus {background-position:-14px -14px}
.ztree li span.button.chk.checkbox_true_part {background-position:-14px -28px}
.ztree li span.button.chk.checkbox_true_part_focus {background-position:-14px -42px}
.ztree li span.button.chk.checkbox_true_disable {background-position:-14px -56px}
.ztree li span.button.chk.radio_false_full {background-position:-28px 0}
.ztree li span.button.chk.radio_false_full_focus {background-position:-28px -14px}
.ztree li span.button.chk.radio_false_part {background-position:-28px -28px}
.ztree li span.button.chk.radio_false_part_focus {background-position:-28px -42px}
.ztree li span.button.chk.radio_false_disable {background-position:-28px -56px}
.ztree li span.button.chk.radio_true_full {background-position:-42px 0}
.ztree li span.button.chk.radio_true_full_focus {background-position:-42px -14px}
.ztree li span.button.chk.radio_true_part {background-position:-42px -28px}
.ztree li span.button.chk.radio_true_part_focus {background-position:-42px -42px}
.ztree li span.button.chk.radio_true_disable {background-position:-42px -56px}

.ztree li span.button.switch {width:18px; height:18px}
.ztree li span.button.root_open{background-position:-92px -54px}
.ztree li span.button.root_close{background-position:-74px -54px}
.ztree li span.button.roots_open{background-position:-92px 0}
.ztree li span.button.roots_close{background-position:-74px 0}
.ztree li span.button.center_open{background-position:-92px -18px}
.ztree li span.button.center_close{background-position:-74px -18px}
.ztree li span.button.bottom_open{background-position:-92px -36px}
.ztree li span.button.bottom_close{background-position:-74px -36px}
.ztree li span.button.noline_open{background-position:-92px -72px}
.ztree li span.button.noline_close{background-position:-74px -72px}
.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position:-56px 0}
.ztree li span.button.center_docu{background-position:-56px -18px}
.ztree li span.button.bottom_docu{background-position:-56px -36px}
.ztree li span.button.noline_docu{ background:none;}

.ztree li span.button.ico_open{margin-right:2px; background-position:-110px -16px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_close{margin-right:2px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_docu{margin-right:2px; background-position:-110px -32px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.edit {margin-right:2px; background-position:-110px -48px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.remove {margin-right:2px; background-position:-110px -64px; vertical-align:top; *vertical-align:middle}

.ztree li span.button.ico_loading{margin-right:2px; background:url(../images/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {
    width:16px;
    height:16px;
    display: inline-block;
    padding:0;
    margin:2px 0 0 1px;
    border:0 none;
    position:absolute;
    background-color:transparent;
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-position:-110px -80px;
    background-image:url("../images/zTreeStandard.png");

}

ul.ztree.zTreeDragUL
{
    margin:0;
    padding:0;
    position:absolute;
    width:auto;
    height:auto;
    overflow:hidden;
    background-color:#cfcfcf;
    border:1px #00B83F dotted;
    opacity:0.8;
    filter:alpha(opacity=80)
}

.zTreeMask
{
    z-index:10000;
    background-color:#cfcfcf;
    opacity:0.0;
    filter:alpha(opacity=0);
    position:absolute;
}

/* level style*/
/*.ztree li span.button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/


/* дерево страниц */

.mcms-list-page *
{
    font-size: 14px;
}
.mcms-list-page li
{
    line-height: 16px;

}
.mcms-list-page .dropdown > a
{
    color: #428bca;
}
.mcms-list-page li span.button.ico_open,
.ztree li span.button.ico_close,
.mcms-list-page li span.button.ico_docu
{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background:none;
}



.mcms-list-page .fa
{
    font: normal normal normal 12px/1 FontAwesome;
    /*font-size: inherit;*/
    margin-right:5px;
}
.mcms-list-page .module
{
    font-size: 11px;
}
.dropdown-menu {
    list-style: none;
    font-size: 14px;
    text-align: left;

    padding: 5px 0 !important;
    margin: 2px 0 0 !important;

}
.dropdown-menu > li > a
{
    display: block !important;
    padding: 3px 20px !important;
    color: #333;
    height: auto;
}
.dropdown-menu  li  a:hover
{
    text-decoration: none;
}
.dropdown-menu  li
{


}
/*module list*/
.modules_list
{

}
.modules_list .module
{
    display: inline-block;

    font-size: 0;
    width:150px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background: linear-gradient(to bottom, #efeeef, #e0dde0);
    border-radius: 5px;
    margin: 5px;

}
.modules_list .module .name {
    height:50px;
    font-size: 14px;
}
.modules_list .module .ico
{
    display: block;
    vertical-align: middle;
    height:100px;
    text-align: center;
    width: 100%;
}

.modules_list .module .ico img,
.modules_list .module .ico i
{
    margin:0 auto;
}

.modules_list .module .ico i
{
    font-size:50px;
    margin-top:30px;
}

.modules_list .module:hover
{

    text-decoration: none !important;
}


/*таблица*/
table{
    width:100%;
    background: #f7f7f7;

    border: 1px solid #d1ced3;
    margin-top:10px;
    margin-bottom: 0;
    box-shadow: inset 0 1px 0 #fff, 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    border-collapse: collapse;

}

table thead {
    width: 100%;


    height: 34px;

    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#f2f0f2), to(#edeaf0));
    background: -webkit-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -moz-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -o-linear-gradient(top, #f2f0f2, #edeaf0);
    background: -ms-linear-gradient(top, #f2f0f2, #edeaf0);
    background: linear-gradient(to bottom, #f2f0f2, #edeaf0);
    border: 1px solid #d4d1d7;

    box-shadow: inset 0 1px 0 #fff;

    color: #656268 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
   
}

td, th{
    padding:5px;
}

tr:nth-child(2n){
    background-color: #ededed;
}

tbody tr:hover{
    background-color: #e2e2e2;
}

.btn-default.min{
    line-height: 30px;
    width: 30px;
    text-align: center;
    padding: 0;
}